Options +FollowSymLinks
Options All -Indexes
php_value short_open_tag 1


RewriteEngine On
#RewriteCond %{HTTP_HOST} bartercoin.ru
#RewriteRule (.*) https://bartercoin.holding.bz/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
AddDefaultCharset UTF-8
